<!-- Contenedor principal del sidebar -->
<aside
  class="bg-black fixed inset-y-0 left-0 w-64 p-4 flex flex-col justify-between lg:block hidden"
>
  >
  <!-- Sección superior del sidebar -->
  <div>
    <!-- Información del usuario -->
    <div class="flex items-center mb-8">
      <!-- Avatar del usuario -->
      <div
        class="w-10 h-10 rounded-full bg-red-500 flex items-center justify-center text-white text-xl font-bold mr-3"
      >
        M
      </div>
      <!-- Nombre del usuario -->
      <span class="text-white text-lg font-semibold">Monica Gutiérrez</span>
    </div>
    <!-- Navegación principal -->
    <nav>
      <ul class="space-y-2">
        <!-- Enlace a "Inicio" -->
        <li>
          <a
            routerLink="/dashboard"
            routerLinkActive="bg-red-500"
            class="flex items-center text-white p-3 rounded-lg hover:bg-red-500 transition-colors"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-6 w-6 mr-3"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"
              />
            </svg>
            Inicio
          </a>
        </li>
        <!-- Enlace a "Reportes" -->
        <li>
          <a
            routerLink="/tables"
            routerLinkActive="bg-red-500"
            class="flex items-center text-white p-3 rounded-lg hover:bg-red-500 transition-colors"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-6 w-6 mr-3"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M9 17v-2m3 2v-4m3 4v-6m2 10H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z"
              />
            </svg>
            Reportes
          </a>
        </li>
        <!-- Enlace a "Directorio" -->
        <li>
          <a
            routerLink="/profile"
            routerLinkActive="bg-red-500"
            class="flex items-center text-white p-3 rounded-lg hover:bg-red-500 transition-colors"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-6 w-6 mr-3"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M5 8h14M5 8a2 2 0 110-4h14a2 2 0 110 4M5 8v10a2 2 0 002 2h10a2 2 0 002-2V8m-9 4h4"
              />
            </svg>
            Directorio
          </a>
        </li>
        <!-- Enlace a "Administración" -->
        <li>
          <a
            routerLink="/admin"
            routerLinkActive="bg-red-500"
            class="flex items-center text-white p-3 rounded-lg hover:bg-red-500 transition-colors"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-6 w-6 mr-3"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z"
              />
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
              />
            </svg>
            Administración
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <!-- Sección inferior del sidebar -->
  <div class="space-y-2">
    <!-- Enlace a "Perfil" -->
    <a
      routerLink="/login"
      class="flex items-center text-white p-3 rounded-lg hover:bg-red-500 transition-colors"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M8.25 9V5.25A2.25 2.25 0 0 1 10.5 3h6a2.25 2.25 0 0 1 2.25 2.25v13.5A2.25 2.25 0 0 1 16.5 21h-6a2.25 2.25 0 0 1-2.25-2.25V15m-3 0-3-3m0 0 3-3m-3 3H15"
        />
      </svg>
      Cerrar Sesion
    </a>
  </div>
</aside>
